{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} DereksAuto| Homepage {% endblock %}

{% block content %}
<div class="row" style="height: 30px"></div>
<div class="container">
<div class="row padding-top-bottom">
<h2 class="text-center" style="padding-bottom: 20px;">DereksAuto Storefront</h2>
<div class="col-md-1"></div>
<div class="col-md-10">


    {% if items %}

        {% for item in items %}
		<div class="col-xs-18 col-sm-4 col-md-3" style="padding-bottom: 20px;">
			<div class="productbox" style="max-height: 235px; max-width: 250px;">
				<div class="imgthumb img-responsive">
					<a href="{% url 'details' item.id %}"><img src="{{ item.image_link }}"></a>
				</div>
				<div class="caption">
					<a href="{% url 'details' item.id %}"><h5>{{ item.title }}</h5></a>
                    {% if item.offer %}
                  	<s class="text-muted">${{ item.initial_price }}</s>
                    {% endif %}
                    <b class="finalprice">${{ item.price }}</b> from <b>Amazon</b>
                    <p>
                      <a href="{{ item.amazon_url }}"><button type="button" class="btn btn-success btn-md btn-block">View item in store</button></a>
                    </p>
              	</div>
                {% if item.offer %}
              	<div class="saleoffrate">

                  <b>{{ item.offer }}%</b><br>OFF
              	</div>
                {% endif %}
			</div>
		</div>
        {% endfor %}
	<!--/row-->
    {% else %}
        <div class="col-xs-18 col-sm-4 col-md-3" style="padding-bottom: 20px;">No items available at the moment!</div>
    {% endif %}

</div>
<div class="col-md-1"></div>
</div>
</div>
<div class="row" style="height: 50px"></div>
{% endblock %}