{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} DereksAuto| Update item {% endblock %}
{% block content %}
<div class="row" style="height: 90px"></div>
<div class="container">
<div class="col-md-2"></div>
<div class="col-md-3">
<h3>Update Item</h3>
<br>
<form method="post" class="form" enctype="multipart/form-data">
{% csrf_token %}
    {% bootstrap_form form %}
{% buttons %}
<button type="submit" class="btn btn-primary">Update</button>
{% endbuttons %}
</form>
</div>
<div class="col-md-7"></div>
</div>
<div class="row" style="height: 40px"></div>
{% endblock %}