{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Delete Item {% endblock %}

{% block content %}
<div class="row" style="height: 50px"></div>
<div class="container">
<div class="row padding-top-bottom">
<h2 class="text-center">Confirm deletion</h2>
<div class="col-md-2"></div>
<div class="col-md-8">

<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <button class="btn btn-warning" type="submit">Delete</button>
</form>

</div>
<div class="col-md-2"></div>
</div>
</div>
<div class="row" style="height: 200%;"></div>
{% endblock %}