{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} DereksAuto| Item details {% endblock %}

{% block content %}
<div class="row" style="padding-top: 80px"></div>
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<h2>Item details</h2>
<hr>
{% if object %}
    <div class="col-md-5">
    <div class="details img-responsive"><img src="{{ object.image_link }}" class="">
    {% if item.offer %}
    <div class="saleoffrate">
       <b>{{ item.offer }}%</b><br>OFF
    </div>
    {% endif %}
    </div>
    </div>
    <div class="col-md-7">
    <h2>{{ object.title }}</h2>
    <br>
    <h4>Manufacturer: {{ object.manufacturer }}</h4>
    <h4>Price: {% if object.initial_price %}<s>${{ object.initial_price }}</s>{% endif %}{% if object.initial_price %}&nbsp;{% endif %}${{ object.price }}</h4>
    <br>
    <a href="{{ object.amazon_url }}"><img src="{% static 'img/buy.png' %}"></a>
    </div>
    <h4 class="pull-right"><a href="{% url 'list' %}"><< View similar items</a></h4>

{% endif %}
</div>
</div>
</div>
<div class="row" style="padding-top: 120px"></div>
{% endblock %}