{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} DereksAuto| Add item {% endblock %}
{% block content %}
<div class="row" style="height: 90px"></div>
<div class="container">
<div class="row">

<div class="col-md-3" style="box-shadow: 0 0 1px seagreen;">
    <h4>Add item</h4>
    <form method="post" class="form" enctype="multipart/form-data">
{% csrf_token %}
    {% bootstrap_form form %}
{% buttons %}
<button type="submit" class="btn btn-success">Create</button>
{% endbuttons %}
</form>
</div>
<div class="col-md-9" style="padding-left: 50px;">
    <h4>Items list</h4>
    <table class="table table-bordered table-condensed">
    <th>Title</th>
    <th>Image URL</th>
    <th>Item URL</th>
    <th>Delete item</th>
{% for item in items %}
<tr>
    <td>
        <a href="{% url 'update' item.id %}">{{ item.title }}</a>
    </td>
    <td>
        <a href="{{ item.image_link }}">{{ item.image_link }}</a>
    </td>
    <td>
        <a href="http://{{ request.get_host }}{% url 'details' item.id %}">http://{{ request.get_host }}{% url 'details' item.id %}</a>
    </td>
    <td>
        <a href="{% url 'delete' item.id %}"><span class="glyphicon glyphicon-floppy-remove" style="vertical-align:middle;display: block;text-align: center"></span></a>
    </td>
</tr>
{% endfor %}
</table>
</div>



</div>
</div>
<div class="row" style="height: 40px"></div>
{% endblock %}