{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="H_8TRFkjHsfR82TajiJUIGrn-CXBpjkV4DdnGdJtH8I" />

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    {% bootstrap_javascript %}
</head>
<body class="home gray-bg">

{% bootstrap_messages %}
<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">
						<img id="navlogo" src="{% static 'img/derek.png' %}" alt="DerekAuto">
					</a>
                    <ul id="navigation" class="nav navbar-nav navbar-left text-center">
                        <li class="title"><a href="#">Dereks-Auto</a></li>
                    </ul>

				</div>
				<div class="collapse navbar-collapse">
					<ul id="navigation" class="nav navbar-nav navbar-right text-center">
						<li><a href="{% url 'list' %}">Products</a></li>
                        <li><a href="#">Contact</a></li>


                        {% if request.user.is_superuser %}
						<li class="dropdown">
							<button type="button" onclick="location.href='{% url 'create' %}'" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Site Administration</button>
						</li>
                        {% endif %}

					</ul>
				</div>

			</div>
		</div>
{% block content %}



{% endblock %}
<footer id="main-footer" class="dark-bg light-typo">
			<div class="container">
				<p class="pull-left copyright wow fadeInUp">&copy; DereksAuto. <br> Designed by <a href="#" target="_blank">Aurlus I.</a>.<br>
				</p>

				<div class="pull-right paymentMethodImg copyright wow fadeInRight">
					<a href="http://www.amazon.com/s?marketplaceID=ATVPDKIKX0DER&me=A338X9NNA1JLZE&merchant=A338X9NNA1JLZE&redirect=true"><img src="{% static 'img/see-amazon.png' %}"></a>
				</div>
			</div>
		</footer>
</body>
</html>