@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600&subset=latin,latin-ext);

html{
	min-height: 100%;
}

h1,h2,h3,h4,h5,h6, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300; 
}
p{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300; 
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
}
body {
	padding-top: 0;
	color:#4c4c4c;
	min-height: 100%;
}
strong{
	font-weight: 600;
}
.padding-top-bottom {
	padding: 90px 0;
}

h3.center {
	margin: 25px 0 20px 0;
}

.iconBig {
	font-size: 50px;
	display: block;
	/* border-radius: 50%; */
	/* border: 2px solid #fff; */
	width: 80px;
	height: 80px;
	margin: 0 auto 0 auto;
	/* line-height: 50px; */
}

.title{
	font-family: 'Indie Flower', cursive;
    font-size: 36px;
}

.iconBig:before {
	line-height: 100px;
}

/* ------------------------ colors ------------------------ */
.gray-bg {
	background-color: #f2f2f2;
}
.color-bg{
	background-color:#23A657;
}
.dark-bg {
	background-color: #323A42;
}

/* ------------------------ section ------------------------ */

.section-header h2 {
	margin-top: 0;
	margin-bottom: 3px;
	font-weight: 600;
}
.section-header h4 {
	margin-top: 0;
}


/* ------------------------ image background ------------------------ */
.image-bg {
	overflow: hidden;
	background-size: cover;
	background-image: url('../img/12.jpg');
	background-position: center 16%;
	position: relative;
}


.overlay-bg {position: absolute; top: 0; left: 0; right: 0; bottom: 0;  opacity: 0.5;
	background-color: #000;
	z-index: 10;}


.dark-bg a {
	color: #23A657;
}
.light-typo {
	color: #fff;
}

.section-header{
	margin-bottom: 40px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
}

.img-center {
	margin: 0 auto;
}


/* ------------------------ nav bar ------------------------ */
.navbar{
	background-color: #242424;
	/* background-color: rgba(36,36,36,0.9); */
	border: 0;

}
.navbar-header{
	/*padding-top: 5px;*/
}
.navbar-header i {
	float: left;
	margin-right: 10px;
	font-size: 21px;
	color: #23A657;
	margin-top: 3px;
}
.navbar-brand {
	/*line-height: 30px;*/
	padding: 7px 0 0 15px;
	/*margin-left: 0;*/
}
.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        /*margin-left:0;*/
  }
.navbar-collapse{
	 /*padding: 5px 0; */
}

.navbar-nav {
	text-transform: uppercase;
	font-size: 14px;
	/*padding: 5px 0;*/
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand	{
	color: #FFF;
	line-height: 30px;
}
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #23A657;
	background-color: transparent;
}

.media>.pull-left {
	margin-right: 15px;
}

.navbar-inverse .navbar-nav>li>a.active,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #23A657;
	background-color: transparent;
}

.navbar-btn {
	background-color: #23A657;
	border: 0;
	color: #FFF;
	font-weight: 300;
}

.dropdown{
	padding-top: 13px;
}
.dropdown-toggle{
	background-color: #23A657;
	color: #FFF;
	border: 0;
	font-weight: 300;
}
.dropdown-toggle:hover,.dropdown-toggle:focus,.dropdown-toggle:active, .open .dropdown-toggle.btn-default{
	background-color: #000;
	color: #FFF;
}
.dropdown-menu {
	min-width: 120px;
	background-color: #000;
	border: 0;
	color: #FFF;
}
.dropdown-menu>li>a {
	color:#FFF;
	font-weight: 300;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
	background-color: #23A657;
	color: #FFF;
}
.navbar-toggle {
	margin-top: 14px;
	margin-bottom: 14px;
}

.navbar-toggle.second{
	padding: 6px 10px 6px 10px;
}

/* ------------------------ footer ----------------------*/
/* CSS used here will be applied after bootstrap.css */

/* CSS used here will be applied after bootstrap.css */

.productbox {
    position: relative;
 border: 1px solid #ddd;
border-radius: 4px;
-webkit-transition: all .2s ease-in-out;


}
.caption {
	padding:10px;
	background-color:rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 50%;
    overflow: hidden;
  	font-size: 11px;
  color: #FFF;

}
.finalprice {
  font-size:15px;
    color: #AAFCAE;
}
h5 {
  margin-top: 0px;
  color: white;
  max-height: 30px;
  overflow: hidden;
}
.img-responsive img{
	width: 100%;
}

.container{
    width: 90%;
}

.item_container {
	width: 100%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 5px;
}
.btn-block {
margin-top: 5px;
}
.saleoffrate{
position: absolute;
    top:10px;
    left: 10px;
padding-top: 13px;
text-align:center;
background-color: rgba(76, 174, 76,0.8);
color: #FFFFFF;
border-radius: 50%;
height: 50px;
width: 50px;
line-height: 13px;
}
@media (min-width: 384px) and (max-width: 768px) {
  .img-responsive img{
      max-width: 50%;
  }
  .img-responsive{
      text-align: center;
  }
}

.dark-bg {
	background-color: #323A42;
}

.light-typo {
	color: #fff;
}

#main-footer,
#social {
	padding: 40px 0 20px;
}

.btn-store {
	margin: 0;
}

.btn-store.outline {
	background: transparent;
	border:2px solid #23A657;
	box-shadow: none;

	color: #23A657;
	text-decoration: none;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	/* padding: 13px 30px; */
	font-weight: 600;
}

.row{
	width: 100%;
}

.details
{
  display:inline-block;
  vertical-align:top;
  padding:5px;
  border: solid 1px;
}
